{% extends 'layouts/base.html' %} {% block content %} {% load widget_tweaks %}

<div class="container">
  <h1 class="header d-flex justify-content-between align-items-center">
    <span>Facturas de {{ supplier }}</span>
    <a href="{% url 'create_invoice' supplier.id %}" class="btn btn-primary">
      Añadir nueva factura
    </a>
  </h1>

  {% for invoice in sup_invoices %}
  <div class="card my-4">
    <!-- Encabezado de la factura con título y botón de colapsar/expandir -->
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="h5 mb-0">Factura: {{ invoice.name }}</h2>
      <button
        class="btn btn-link"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#invoiceDetails{{ invoice.id }}"
        aria-expanded="false"
        aria-controls="invoiceDetails{{ invoice.id }}"
      >
        <i class="bi bi-chevron-down" id="icon{{ invoice.id }}"></i>
      </button>
    </div>
    <br />
    <!-- Contenido que se despliega/contrae -->
    <div id="invoiceDetails{{ invoice.id }}" class="collapse">
      <!-- Tabla de la factura -->
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>Fecha de Factura</th>
            <th>Valor Total</th>
            <th>Valor Pagado</th>
            <th>Valor Restante</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ invoice.date }}</td>
            <td>${{ invoice.totalValue }}</td>
            <td>${{ invoice.paidValue }}</td>
            <td>${{ invoice.totalValue|add:"-invoice.paidValue" }}</td>
            <td>
              <div class="d-flex gap-2">
                <a
                  href="{% url 'edit_invoice' supplier.id invoice.id %}"
                  class="btn btn-warning btn-sm"
                  >Editar Factura</a
                >
                <form
                  action="{% url 'delete_invoice' invoice.id %}"
                  method="POST"
                  style="display: inline"
                >
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="btn btn-danger btn-sm"
                    onclick="return confirm('¿Estás seguro de eliminar esta factura?')"
                  >
                    Eliminar Factura
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              {% if invoice.file %}
              <a href="{{ invoice.file.url }}" target="_blank">Ver archivo</a>
              {% else %} No hay archivos cargados para visualizar {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagos asociados -->
      <div class="card-body">
        <h3 class="h6">
          Pagos Asociados
          <a
            href="{% url 'create_payment' invoice.id %}"
            class="btn btn-info btn-sm"
            >Añadir Pago</a
          >
        </h3>

        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th>Fecha de Pago</th>
              <th>Valor del Pago</th>
              <th>Archivo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for payment in invoice.payments.all %}
            <tr>
              <td>{{ payment.date }}</td>
              <td>${{ payment.paidValue }}</td>
              <td>
                {% if payment.file %}
                <a href="{{ payment.file.url }}" target="_blank">Ver archivo</a>
                {% else %} No disponible {% endif %}
              </td>
              <td>
                <a
                  href="{% url 'create_payment' payment.id %}"
                  class="btn btn-warning btn-sm"
                  >Editar Pago</a
                >
                <form
                  action="{% url 'delete_payment' payment.id %}"
                  method="POST"
                  style="display: inline"
                >
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="btn btn-danger btn-sm"
                    onclick="return confirm('¿Estás seguro de eliminar este pago?')"
                  >
                    Eliminar Pago
                  </button>
                </form>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4">No hay pagos registrados para esta factura.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Script para cambiar la flecha al hacer clic -->
<script>
  document
    .querySelectorAll('[data-bs-toggle="collapse"]')
    .forEach(function (toggle) {
      toggle.addEventListener("click", function () {
        var icon = document.getElementById(
          "icon" +
            this.getAttribute("aria-controls").replace("invoiceDetails", "")
        );
        if (icon.classList.contains("bi-chevron-down")) {
          icon.classList.remove("bi-chevron-down");
          icon.classList.add("bi-chevron-up");
        } else {
          icon.classList.remove("bi-chevron-up");
          icon.classList.add("bi-chevron-down");
        }
      });
    });
</script>

{% endblock %}
